img{
    height: 40vh;
    width: 20vw;
}

img:hover {
    cursor: pointer;
}

#circle{
    width: 50px;
    height: 50px;
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    border: 1px solid gray;
    position:absolute;
    top: 150px;
    display: none;
}
.show{
    display: flex;
}